# Fundamental Python
- tipe data yang dimengerti Python
  - integer `123`
  - float `123.0`
  - string `"saya Text! 123"`
  - boolean `True` `False`
  - list `[]` `[1,2,3]`
  - tuple `()` `(1,2,3)`
  - dictionary `{"apel":2500, "pisang":3500}`
- simpan data di variable, punya nama, bisa dipanggil lagi
- teknik pemrograman mendasar:
  - conditional `if` `elif` `else`
  - loop `for`, `while`
  - function `def`

In [2]:
nama_murid = "Andhika"

In [3]:
nama_murid

'Andhika'

In [4]:
nama_murid = nama_murid + "Widjaja"

In [5]:
nama_murid

'AndhikaWidjaja'

In [6]:
nama_murid = "Budi Budiman"

In [7]:
nama_murid

'Budi Budiman'

In [8]:
# untuk mengecek tipe data kita bisa gunakan function type buatan python

type(123)

int

In [9]:
type(5.5)

float

dengan menggunakan function type(), kita bisa mengecek tipe data. contohnya diatas, int (integer) dan float (floating point number) adalah dua tipe data yang dimengerti Python. angka bulat tanpa koma, dan angka yang punya koma.

tipe data A bisa kita ubah menjadi tipe data B. int bisa kita ubah jadi float, float jadi int, dan lain2. contoh:

In [10]:
float(123)

123.0

In [11]:
int(5.5)

5

misalkan kita punya data penjualan rumah. ada detail rumahnya dari luas tanah, luas bangunan, dan jumlah kamar tidur. apakah kita mau menggunakan float atau int untuk masing masing data ini?

luas tanah - float? 100.5 sqm? atau int jadi bulat 100 sqm?

luas bangunan - float? 60.78 sqm? atau int? 61 sqm?

jumlah kamar tidur - float? 2.5 kamar? int 3 kamar?

tipe data bisa kita pilih yang sesuai untuk merapikan data

In [12]:
"saya string bisa diisi text TEXT angka 123 simbol !@#%$^^& gk masalah"

'saya string bisa diisi text TEXT angka 123 simbol !@#%$^^& gk masalah'

In [13]:
type("halo")

str

perhatikan setiap tipe data ada singkatannya di Python. ini adalah nama class nya. kita bisa gunakan nama class ini untuk mengubah tipe data lain jadi tipe data tersebut.

```python
int(angka_lain)
```
kita mengubah angka_lain menjadi integer int

nama class untuk tipe data yang kita pelajari:
- int
- float
- str
- bool
- list
- tuple
- dict

In [14]:
type(True)

bool

In [15]:
type(False)

bool

In [16]:
# ubah string jadi boolean
message = "Selamat datang di Sesi#1 kelas Python Hacktiv8 batch 8!"

bool(message)

True

In [17]:
int(message)

ValueError: ignored

walau kita bisa ubah string message menjadi boolean, tapi error kalau kita ubah jadi integer int, kenapa?

tidak bisa ubah alfabet, spasi, dan simbol menjadi angka integer. jadi error.

kalau isi string str nya adalah angka semua, baru tidak error kita ubah jadi integer int.

In [18]:
# aslinya nilai berisi string
nilai = "100"
type(nilai)

str

In [19]:
# nilai jadi integer
int(nilai)

100

In [20]:
# nilai jadi boolean
bool(nilai)

True

In [21]:
# nilai jadi float
float(nilai)

100.0

In [22]:
# nilai skr tipe data apa?
type(nilai)

str

In [23]:
nilai

'100'

In [24]:
# isi variable nilai tidak berubah, kalau mau berubah, kita harus sengaja ubah
nilai = 80

nilai = int("75")

nilai = float(250)

In [25]:
# baru nilai berubah, menjadi yang terakhir kita ubah
nilai

250.0

In [26]:
type(nilai)

float

sebuah variable isinya tidak berubah sampai kita sengaja ubah.

di contoh diatas, variable nilai isinya tetap "100" sampai kita bilang nilai = 80, lalu nilai = int..., lalu nilai = ... barulah isinya berubah

perubahan isi variable ini namanya `variable re-assignment`

## variable
dalam membuat nama variable, kita tidak boleh:
- memulai dengan angka
- menggunakan spasi
- keyword python

kita boleh:
- menggunakan huruf kecil semua
- pakai simbol _ menggantikan spasi
- pilih nama yang mendeskripsikan data nya

contoh: kita mau simpan nilai nya andi

ini contoh membuat variable yang mudah diingat dan jelas
```python
nilai_andi = 80
```

ini contoh membuat variable yang kurang deskriptif, kita akan lupa nantinya n itu untuk apa
```python
n = 90
```

In [27]:
True
False

type(True)

bool

semua tipe data bisa di convert ke boolean. bool memilih data tersebut termasuk True atau False. untuk data yang kosong dianggap False, yang tidak kosong dianggap True.

contoh data yang akan dianggap False oleh boolean:
- False
- 0
- 0.0
- -0
- -0.0
- ""
- []
- ()
- {}

sementara data lain asal ada isinya dianggap True:
- -100
- -7.0
- "kosong"
- ["a"]

In [28]:
# andi berkacamata atau tidak
andi_berkacamata = True

In [29]:
andi_berkacamata

True

In [30]:
type(andi_berkacamata)

bool

In [31]:
# convert boolean ke string
str(andi_berkacamata)

'True'

In [32]:
# convert boolean ke integer
int(andi_berkacamata)

1

In [33]:
# convert boolean ke float
float(andi_berkacamata)

1.0

1 untuk True, 0 untuk False.

# List

tipe data yang isinya banyak data

isinya juga bisa campur aduk

setiap data yang ada di dalam list, diberikan angka index. item pertama dapet index 0, item kedua dapet index 1, ... seterusnya

contoh, jika kita punya list berisi 3 string
```python
buah_buahan = ["apel", "mangga", "jeruk"]
```

maka untuk mendapatkan string "apel" kita bisa panggil
```python
buah_buahan[0]
```

In [34]:
buah_buahan = ["apel", "mangga", "jeruk"]

buah_buahan[0]

'apel'

In [35]:
type(buah_buahan)

list

In [36]:
# list tidak bisa jadi integer
int(buah_buahan)

TypeError: ignored

In [37]:
# list bisa jadi boolean
bool(buah_buahan)

True

In [38]:
# aku mau ambil "mangga"
buah_buahan

['apel', 'mangga', 'jeruk']

In [39]:
buah_buahan[1]

'mangga'

In [40]:
# CRUD - create read update delete - konsep dimana kita perlu belajar 4 teknik ke tipe data baru
# Create list
[]

buah_buahan = []

buah_buahan = ["kelapa", "manggis", "duku"]


# Read list
# keseluruhan list, nama variable nya
buah_buahan

# satu item di dalam list, gunakan angka index
buah_buahan[0]

'kelapa'

In [41]:
# Update list
# menambahkan item kedalam list pakai + atau pakai append()
buah_buahan = buah_buahan + ["apel"]

In [42]:
buah_buahan

['kelapa', 'manggis', 'duku', 'apel']

In [43]:
buah_buahan.append("semangka")

In [44]:
buah_buahan

['kelapa', 'manggis', 'duku', 'apel', 'semangka']

In [45]:
# mau ubah manggis jadi tomat
buah_buahan[1] = "tomat"

In [46]:
buah_buahan

['kelapa', 'tomat', 'duku', 'apel', 'semangka']

In [47]:
# kurangi duku
buah_buahan.remove("duku")

In [48]:
buah_buahan

['kelapa', 'tomat', 'apel', 'semangka']

In [49]:
# delete
# umumnya kita re-assign variable nya menjadi list kosong saja
buah_buahan = []

## Tuple
mirip sama list, bisa dibuat, bisa dibaca, bedanya adalah tuple tidak bisa diubah

buat dan baca saja.

tuple bisa di convert jadi list, list bisa di convert jadi tuple

In [52]:
buah_buahan = ("jeruk", "alpukat", "buah naga")

In [53]:
list(buah_buahan)

['jeruk', 'alpukat', 'buah naga']

In [54]:
# biasanya, kalau mau edit tuple, kita convert jadi list dulu, edit, baru convert balik ke tuple
# tuple untuk memastikan datanya tidak berubah, gk bisa dirubah

# Dictionary
mirip list, tapi setiap item di dalam dictionary tidak diberikan angka index. setiap item dalam dictionary mempunya pasangan key. setiap item adalah sepasang key:value.

key harus string

value bebas tipe data apapun

In [55]:
# andi jadi dictionary kita simpan data2 andi
# Create
andi = {"nama":"Andhika Widjaja", "umur":52, "hobi":["bulutangkis", "memasak", "coding"]}

andi

{'nama': 'Andhika Widjaja',
 'umur': 52,
 'hobi': ['bulutangkis', 'memasak', 'coding']}

In [56]:
# Read
# namanya saja
andi["nama"]

'Andhika Widjaja'

In [57]:
# hobi nya saja
andi["hobi"]

['bulutangkis', 'memasak', 'coding']

In [59]:
# hobi pertama nya? hobi isinya list isi 3
andi["hobi"][0]

'bulutangkis'

In [60]:
# Update
#nambahin informasi student ID
andi["student_id"] = "PYTN-PKJ-08-008"

In [61]:
andi

{'nama': 'Andhika Widjaja',
 'umur': 52,
 'hobi': ['bulutangkis', 'memasak', 'coding'],
 'student_id': 'PYTN-PKJ-08-008'}

In [62]:
# ubah umurnya jadi 25
andi["umur"] = 25

In [63]:
andi

{'nama': 'Andhika Widjaja',
 'umur': 25,
 'hobi': ['bulutangkis', 'memasak', 'coding'],
 'student_id': 'PYTN-PKJ-08-008'}

In [64]:
# Delete
andi = {}

In [65]:
andi

{}

# Conditional
teknik pemrograman percabangan, membuat pertanyaan yang dijawab True atau False. kalau True maka kita lakukan blok kode yang ada di dalam if. kalau False, maka tidak kita lakukan, kita bisa masuk ke blok kode elif atau else atau keluar.

```python
if (pertanyaan):
  kalau True maka kesini
  code disini jalan semua
else:
  kalau False, maka kesini

if (pertanyaan):
  kalau True kesini
elif (pertanyaan2):
  kalau pertanyaan False, tapi pertanyaan2 True
  baru kesini

kalau tidak ada else tidak apa juga, bisa langsung keluar kalau pertanyaan False

if (k1):
  some code
elif (k2):
  some other code
else:
  even more code
```

In [66]:
# contoh - kita punya list isi buah buahan
buah_buahan = ["apel", "jeruk", "nanas"]

# kita mau cek apakah ada "apel" di dalam buah_buahan
"apel" in buah_buahan

True

In [67]:
# kita bisa susun secara kondisional
if ("apel" in buah_buahan):
  print("ada apel di dalam buah buahan")

ada apel di dalam buah buahan

In [69]:
"kelapa" in buah_buahan

False

In [68]:
if ("kelapa" in buah_buahan):
  print("ada kelapa di dalam buah buahan")

In [70]:
if ("kelapa" in buah_buahan):
  print("ada kelapa di dalam buah buahan")
else:
  print("tidak ada kelapa di dalam buah_buahan")

tidak ada kelapa di dalam buah_buahan

In [71]:
# pertanyaan di dalam if bebas, asal hasilnya boolean
# contoh, kita bisa pakai matematika juga

umur = 25

if (umur >= 17):
  print("sudah dewasa")
else:
  print("masih anak anak")

sudah dewasa

# Loop
perulangan, loop, iteration, kita melakukan hal yang sama berulang kali

kenapa?

"ambil baju warna putih di lemari"   
manusia bisa ke lemari, buka, cari aja baju mana yang putih

komputer? lemari itu apa (tipe data), buka (function apa), putih (tipe data) apa, cara cek sebuah baju (tipe data) putih atau bukan (conditional), cara cek semua baju yang ada di dalam lemari satu per satu (loop)

cek satu per satu untuk setiap baju yang ada di dalam lemari apakah warna putih

In [72]:
# lemari adalah list
# baju adalah string
# untuk cek "putih" kita perlu cari string "putih" di dalam baju
# untuk setiap baju, setiap string, dalam lemari, kita cek ada "putih" atau tidak
lemari = ["dress merah", "celana panjang hitam", "jeans biru", "kaos putih", "syal hijau"]

In [73]:
"putih" in "merah putih"

True

In [74]:
"merah" in "jus jeruk oranye"

False

In [75]:
for baju in lemari:
  print(baju)

dress merah
celana panjang hitam
jeans biru
kaos putih
syal hijau

In [78]:
baju_putih = []

for baju in lemari:
  if("putih" in baju):
    baju_putih.append(baju)

baju_putih

['kaos putih']

## For
loop yang melewati setiap item dalam sebuah koleksi. contoh koleksi:
- string, koleksi karakter
- list, koleksi item
- tuple
- dictionay
- range, koleksi urutan angka

```python
for karakter in "Hacktiv8!":
  print(karakter) # print satu per satu huruf H, a, c,...
```

## While
loop yang berulang terus selama kondisi masih True. mirip if. if sekali jalan. while jalan terus selamanya, selama kondisi True

```python
n = 0
while (n < 10):
  print(n)
  n = n + 1
```
tidak lupa n bertambah terus supaya suatu saat kondisi jadi False